.xs {
  font-size: .2rem;
}

.s {
  font-size: .5rem;
}

.m {
  font-size: 1rem;
}

.l {
  font-size: 1.5rem;
}

.xl {
  font-size: 2rem;
}

.font-bold {
  font-weight: bold;
}

.font-light {
  font-weight: lighter;
}

.font-colorWhite {
  color: white;
}

/*ESPACIO SEGURO*/
.container {
  max-width: 920px;
  margin: 0 auto;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: 'Poppins', sans-serif;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .header__content {
    padding: 10px;
  }
}

.header__content__img1 {
  width: 25%;
  height: auto;
}

@media screen and (max-width: 600px) {
  .header__content__img1 {
    width: 50%;
  }
}

.header__content .canasta {
  position: relative;
}

.header__content__img2 {
  width: 80px;
  height: 90px;
}

.header__content .infoCarrito {
  display: none;
  position: absolute;
  top: 100px;
  background: white;
  left: -50px;
  overflow-x: auto;
  max-height: 260px;
}

.header__content .infoCarrito #cursos img {
  width: 60px;
}

.header__content .active {
  display: block;
}

.header__content #cursos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__content #cursos2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 35px;
}

.header__content #cursos3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 42px;
}

.banner {
  background-color: #8FC6E8;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 600px) {
  .banner__content {
    padding: 10px;
  }
}

.banner__content h1 {
  color: #FFFFFF;
}

.banner__content h6 {
  color: #FFFFFF;
}

.carreras {
  padding-top: 30px;
  background: #FDF6F6;
}

.carreras .title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 50px;
}

.carreras__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}

@media screen and (max-width: 600px) {
  .carreras__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
  }
}

.carreras__content__article {
  background: white;
  border: 2px solid #EEEBEB;
}

.carreras__content__article img {
  width: 100%;
}

.carreras__content__article .info {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.carreras__content__article .info img {
  width: 20%;
}

.carreras__content__article .info__costo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carreras__content__article .info__costo p {
  text-decoration: line-through;
}

.carreras__content__article .info__costo strong {
  font-weight: 800;
}

.carreras__content__article button {
  border-style: none;
  color: #FFFFFF;
  background-color: #8FC6E8;
  border-radius: 5px;
  width: 94%;
  height: 40px;
  margin: 10px;
  cursor: pointer;
}
/*# sourceMappingURL=styles.css.map */