.header{

    &__content{
        display: flex;
        justify-content: space-between;    

        &__img1{
            width: 25%;
            height: auto;
        }

        &__img2{
            width: 80px;
            height: 90px;
        }
    }
}